.lightbulb{
    width:200px;
    height: 200px;
    background: url(../../utils/images/lightbulboutline.png)no-repeat;

}

.lightbulb:hover{
    background: url(../../utils/images/lightbulbfull.png)no-repeat;
    
}