.lightbulb{
    width:100px;
    height: 100px;
    background: url(../../utils/images/lightbulboutline.png);
    background-size: cover;
    

}
.lightbulb:hover{

    background: url(../../utils/images/lightbulbfull.png);
    background-size: cover;
}