.BeginnerButton{
    position: relative;
    bottom: 150px;
    left: 120px;
}

.IntermediateButton{
    position: relative;
    top: 150px;
    left: 600px;
}

.HardButton{
    position: relative;
    top: 95px;
    left: 1050px;

}

.dot {
    height: 250px;
    width: 250px;
    background-color:gray;
    border-radius: 50%;
    display: inline-block;

    padding:80px;

    position:relative;
    top: 80px;

    
  }