.BeginnerButton{
    position: relative;
    bottom: 150px;
    left: 120px;
}

.IntermediateButton{
    position: relative;
    bottom: 208px;
    left: 505px;
}

.HardButton{
    position: relative;
    bottom: 265px;
    left: 950px;
}

.GoButton{
    position: relative;
    left: 520px;
    bottom: 60px;
}

.btn{
    color: purple;
}

.dot {
    height: 250px;
    width: 250px;
    background-color:gray;
    border-radius: 50%;
    display: inline-block;
    padding: 200px;
    margin: 10px;


    position:relative;
    top: 80px;

    
  }