.BeginnerButton{
    position: relative;
    top: 208px;
    left: 200px;
}

.IntermediateButton{
    position: relative;
    top: 150px;
    left: 600px;
}

.HardButton{
    position: relative;
    top: 95px;
    left: 1050px;

}

.dot {
    height: 250px;
    width: 250px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    
  }