/* Set max width of this card to whatever the Grid space is*/
 /* card set in grid */
.prompt-option-card {
    max-width: 30%;
    min-height: 200px; /* Set to match gridspace */
    display: flex;
    align-items: center;
    border: none;
}

/* button styling */
.prompt-option-btn { 
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 30%;
    min-width: 300px;
    min-height: 80px;
    text-align: center;
    border: none;
}

.prompt-option-btn:hover{
    background-color: grey;
    cursor: pointer;
}


/* Change in styling after prompts selected */
.prompt-display-card { /* card itself */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* actual text of prompt */
.prompt-text { 
    color: black;
    font-size: 1.8rem;
}

/* word from props e.g. era, genre */
.prompt-display-label { 
    background-color: rgb(102, 8, 253);
    color: white;
    font-size: 1.5rem;
    padding: 8px 0px;
}