.CodingPromptsChallenge{
  font-family:Arial, Helvetica, sans-serif
}


.square {
    border-radius: 25px;
  border: 2px ridge black;
  padding: 20px;
  width: 520px;
  height: 150px;  
  background: url("../../utils/images/paper.jpeg");

  position: relative;
  top: 100px;
  }

  .challengeHeader{
    position: relative;
    left: 32%;
  }

  .challengeDesc{
    position: relative;
    left: 26%;
  }

  .refreshReminder{
    position: relative;
    left: 26%;

  }

  .square2{
    height: 150px;
    width: 520px;
    padding: 20px;
    border-radius: 25px 15px;
    border: 2px ridge black;
    background: url("../../utils/images/paper.jpeg");
    background-position: center;

    position: relative;
    left: 700px;
    bottom: 100px;

    
  }