
.square {
    border-radius: 25px;
  border: 2px ridge black;
  padding: 20px;
  width: 520px;
  height: 520px;  
  background: url("../../utils/images/paper.jpeg");
  }

  .challengeHeader{
    position: relative;
    left: 32%;
  }

  .challengeDesc{
    position: relative;
    left: 40%;
    top: 10%;
  }

  .square2{
    height: 230px;
    width: 520px;
    padding: 20px;
    border-radius: 25px 15px;
    border: 2px ridge black;
    background: url("../../utils/images/paper.jpeg");
    background-position: center;

    position: relative;
    bottom: 565px;
    left: 50%;

    
  }